div {font-family: "Bubblegum Sans";}
h2 {font-family: "Bubblegum Sans";}

body { 
    background: #FFB6C1;
    z-index:1;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
    }

.navbar {
    background: #FFFFFF;
    border-radius: 12px;
    font-size: 40px;
    font-weight: "bold";
    padding: 15px;
}

#titlebackground {
    background: #000000;
    border-radius: 25px;
}
#glow {
  font-family: "Bubblegum Sans";
  padding: 75px;
  font-size: 80px;
  color: #FFFFFF;
    text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.homepagebuttons {
    font-size: 45px;
    color: #36454f;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 2px solid #4CAF50;
    padding: 50px;
    width: 550px;
    height: 200px;
}
.charcoaltext{
    color: #36454f;
}

.largefont{
font-size: 50px;
}

.mediumfont{
font-size: 40px;
}

.homepagebuttons:hover {
    color: #660066;
    transition-duration: 0.4s;
    font-size: 55px;
}

.navbar:hover {
    color: inherit;
    transition-duration: 0.4s;
    font-size: 45px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    background-image: linear-gradient(to left, violet, indigo);  
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}

.homepagebutton1 {
    background: url("../images/dots4.png");
    transition-duration: 0.4s;
    -webkit-background-size: cover;
    -moz-background-size: 100% 100%;
    -o-background-size: cover;
    background-size: cover;
}

.homepagebutton2 {
    background: url("../images/stripes.png");
    transition-duration: 0.4s;
    -webkit-background-size: cover;
    -moz-background-size: 100% 100%;
    -o-background-size: cover;
    background-size: cover;
}

.twinkling{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index:1;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars {
  background: url(../images/stars.png) repeat top center;
  z-index:0;
}

.multicolourtext {
    background-image: linear-gradient(to left, violet, indigo);  
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}

.readitpagebuttons {
    font-size: 25px;
    color: #36454f;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 2px solid #4CAF50;
    padding: 5px;
    width: 300px;
    height: 50px;
}
.readitpagebuttonssmall {
    font-size: 25px;
    color: #36454f;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 2px solid #4CAF50;
    padding: 5px;
    width: 150px;
    height: 50px;
}
.readitpagebuttonssmall:hover {
    transition-duration: 0.4s;
    font-size: 30px;
    color: #660066;
}
.readitpagebuttonslist {
    font-size: 25px;
    color: #36454f;
    background-color: #FFe6e6;
    border-radius: 12px;
    padding: 5px;
    width: 400px;
    height: 50px;
}
.readitpagebuttonslyrics {
    font-size: 25px;
    color: #36454f;
    background-color: #ffcccc;
    border-radius: 12px;
    padding: 10px;
    width: 400px;
    height: 50px;
}

select {
    width: 300px;
    height: 50px;
    font-size:24px;
    border-radius: 12px;
    }

select option {
    font-weight:normal;
    background-color:#FFFFFF;
    font-family: "Bubblegum Sans";
}

.readitresultsbg {
    background: #FFe6e6;
    padding: 50px;
    border-radius: 12px;
    }

.readitresults {
    font-size: 25px;  
    word-wrap: "break-word";
    width: 600px;
    padding: 15px;
}

pre {
  font-family: "Bubblegum Sans";
  font-size: 25px !important;
  padding: 25px;
}

.lyricsresults {
    background-color:#ffcccc;
    padding: 50px;
    border-radius: 12px;
}

#results {
    font-size: 25px
}
