div {font-family: "Bubblegum Sans";}
h5 {font-family: "Bubblegum Sans";}
body { background: #FFB6C1; }
form { margin-top: 20px; }
form { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }
pre {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.btn-primary { background: #952b2b; border-color: #957575; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: #782b2b;  border-color: #952b2b; }

#titlebackground { 
    background: #000000;
    border-radius: 25px;
}
#glow {
  font-family: "Bubblegum Sans";
  padding: 75px;
  font-size: 80px;
  color: #FFFFFF;
    text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.homepagebuttons {
    font-size: 20px;
    background-color: #FFFFFF;
}